@page "/"

<div>
    <h1 class="text-center">Markets.IQ</h1>
    <div class="gap-3">
        <div>
            <input type="text" class="form-control" placeholder="Please Enter UserID or Email" />
        </div>
        <div>
            <input type="password" class="form-control" placeholder="Please Enter Password"  />
        </div>
        <div>
            <button class="btn btn-primary">Log In</button>
        </div>
    </div>
</div>
